.reactions-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  position: relative;
}

.reaction-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.error-message {
  background-color: #fff3cd;
  color: #664d03;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1rem;
  text-align: center;
  width: 90%;
  max-width: 920px;
}