.reactions-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.reaction-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

/* Если нужно, можно слегка изменить стиль Breadcrumbs */
.breadcrumbs {
  width: 90%;
  max-width: 900px;
  margin: 12px auto;
  padding: 8px 16px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(17,51,85,0.05);
  display: flex;
  align-items: center;
  font-size: 1rem;
}
